# Dependency directories
/node_modules

# Build output
/dist
/build

# Logs
/logs

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-*

# OS-specific files
.DS_Store
Thumbs.db

# System files
/.npmrc
/.yarnrc
.yarn/*






